*{
    margin:0px;
    padding:0px;
    
}

body{
    background:url(/bck.jpg) no-repeat center;
    width:55vh;
    height: 95vh;
    display: block;
    margin: auto;
    z-index: -1;
    opacity:5;
    background-size: 55vh 98vh; 
  }

  nav{
    border: 3px solid rgba(6, 6, 53, 0.544);
    background-color: rgba(95, 158, 160, 0.434);
    width:53vh;
    border-radius:5px;
    display: block;
    margin:auto;
}

.block img{
    width:50px;
    display: block;
    margin: auto;
}

 h3{
    color: aliceblue;
    text-align: center;
}

.container{
    max-width:55vh;
    margin:auto;
    height: 80vh;
    overflow-y:auto;
}

.message{
    border:2px solid rgba(6, 6, 53, 0.544);
    background-color: #abd5c0;
    border-radius: 6px;
    width:45%;
    padding:3px 3px;
    margin: 7px 5px 5px 5px;
    display: inline-flex;
}

.left{
    float:left;
    clear:both;
}

.right{
    float:right;
    clear:both;
} 

input{
    width: 45vh;
    margin:3px 3px;
    padding:3px 3px;
    border:2px solid black;
    border-radius: 5px;
}

.btn{
    background: url(/gf.jpg) no-repeat;
    background-size: 32px 19px;   
}
.btn:hover{
    cursor: pointer;
    box-shadow:1px 1px 3px #9aed14f7;
}
button{
    margin:4px 2px;
    width:37px;
    height: 24px;
    float: inline-end;
    border:2px solid black;
    border-radius: 5px;
    box-shadow:1px 1px 3px #14edbbf7;
}

